<h1>Listing 種類</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to "修改", edit_category_path(category) %></td>
        <td><%= link_to '刪除', edit_category_path(category), method: :delete, data: { confirm: '你確定嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_for(@category, :url => category_path) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

