<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Hello!' , welcome_say_hello_path %></p>

<%= link_to 'Prev' , welcome_path(:month => @month-1) %>
<%= calendar(:year => @year, :month => @month, :first_day_of_week => 1)
%>
<%= link_to 'Next' , welcome_path(:month => @month+1) %>

<p><%= link_to 'Events' , welcome_events_path %></p>
