<h2>哈摟! 現在是 <%= Time.now %></h2>
<hr>
<h4><%= link_to 'Hello!' , welcome_say_hello_path %></h4>
<span>
<%= link_to 'Prev' , welcome_path(:year => @year, :month => @month-1), :class => "btn btn-info", :style => "margin-left:275px;"%>
<%= link_to 'Next' , welcome_path(:year => @year, :month => @month+1), :class => "btn btn-info", :style => "margin-left:50px;" %>
</span>
<%= calendar(:year => @year, :month => @month, :first_day_of_week => 1)%>

<script>
	$(document).ready(function(){
		$("td").click(function(){
			//alert($(this).attr("data-date"));
			$("td").removeClass("today");
			$(this).addClass("today");
			window.location = "<%= show_date_path() %>?date_time="+$(this).attr("data-date");
		});
	});
</script>
